<div class="flex flex-col">
  <div class="bg-main text-white text-center py-6 flex">
    <div class="flex justify-center relative items-center w-full">
      <a href="<%= categories_path %>" class="back text-white ml-2 absolute left-0 pl-2 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block align-middle" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
      </a>
      <h2 class="uppercase text-xl"><%= @category.name %></h2>
    </div>
  </div>
  <div class="bg-main">
    <h3 class="text-center text-white">
      <div class="shadow-md p-4">
        Total Amount: $<%= @total_amount %>
      </h3>
    </div>
  </div>
  <div class="bg-gray-200 text-text flex-grow relative overflow-y-auto">
    <div class="p-2">
      <% if @movements.any? %>
        <div class="bg-gray-200 text-text relative">
          <div class="px-2 py-6 items-list">
            <% @movements.each do |movement| %>
              <%= link_to category_movement_path(@category, movement), class: "text-decoration-none" do %>
                <div class="bg-white flex items-center p-3 mb-4">
                  <div class="text-text ml-4 text-left">
                    <div class="category-icon">
                      <%= category_icon(@category) %>
                    </div>
                  </div>
                  <div class="flex-grow ml-4 text-left">
                    <div class="text-text">
                      <%= movement.name %>
                    </div>
                    <div class="text-text">
                      <small><%= movement.created_at&.strftime("%d %b %Y") %></small>
                    </div>
                  </div>
                  <div class="text-right">
                    $<%= movement.amount %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="flex flex-col justify-center align-center h-full">
          <p class="text-center text-text">No movements in this category yet.</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bg-second z-40 bottom-0 w-full">
    <div class="text-center mt-auto p-8 text-white w-full flex mx-auto">
      <%= link_to "Add Transaction", new_category_movement_path(@category), class: "text-center justify-center btn btn-outline-white border-2 flex flex-1 border-white p-4 font-semibold hover:bg-white hover:text-second uppercase w-full", data: { turbo: false } %>
    </div>
  </div>
