<div class="flex flex-col h-screen">
  <div class="bg-main text-white text-center py-6 flex">
    <div class="flex justify-center relative items-center w-full">
      <a href="<%= categories_path %>" class="text-white ml-2 absolute left-0 pl-2 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block align-middle" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
      </a>
      <h2 class="uppercase text-xl">Add Transaction</h2>
    </div>
  </div>
  <div class="bg-second text-white text-center flex-grow relative">
    <div class="absolute inset-0 flex flex-col justify-between">
      <div class="flex flex-col h-full">
        <div class="flex flex-col flex-1">
          <%= form_with(model: [@category, @movement], class: "flex flex-col flex-1", url: category_movements_path(@category), local: true) do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: 'authenticity_token' %>
            <% if @movement.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>
                <ul>
                  <% @movement.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="bg-gray-200 p-3 flex flex-col flex-1">
              <%= f.text_field :name, placeholder: "Transaction Name", required: true, class: "border-0 border-b border-gray-400 mb-4 bg-transparent outline-none text-text focus:border-b focus:border-gray-400 focus:ring-0 focus:bg-transparent active:bg-transparent" %>
              <%= f.number_field :amount, placeholder: "Amount", required: true, class: "border-0 border-b border-gray-400 mb-4 bg-transparent outline-none text-text focus:border-b focus:border-gray-400 focus:ring-0 focus:bg-transparent active:bg-transparent" %>
            </div>
            <div class="bg-second">
              <div class="text-center p-8 text-white w-full">
                <%= f.button "Add Transaction", class: "btn btn-outline-white border-2 p-4 font-semibold hover:bg-white hover:text-second uppercase w-full", data: { turbo: false } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
